<!DOCTYPE html>
<!--
  Product:        Social - Premium Responsive Admin Template
  Version:        v1.3.1
  Copyright:      2013 CesarLab.com
  License:        http://themeforest.net/licenses
  Live Preview:   http://go.cesarlab.com/SocialAdminTemplate
  Purchase:       http://go.cesarlab.com/PurchaseSocial
-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Auto-hide Sidebar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="../../assets/css/twitter-bootstrap/bootstrap.css?v1.3.1" rel="stylesheet">
  <link href="../../assets/css/social.css?v1.3.1" rel="stylesheet">
  <link href="../../assets/css/font-awesome.css?v1.3.1" rel="stylesheet">
  <link href="../../assets/css/themes/social.theme-blue.css?v1.3.1" rel="stylesheet">
  <link href="../../assets/css/twitter-bootstrap/bootstrap-responsive.css?v1.3.1" rel="stylesheet">
  <style>
  .wraper #main{
    margin-top: 40px;
  }
  </style>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="/templates/socia/templates/social/assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Support for responsive desing in IE8 -->
  <!--[if lte IE 8]>
      <script src="/templates/social/assets/plugins/respond/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
    <!-- We add the sidebar-full class to the wrapper
    This is necessary for padding on left the navbar and
    the bady content -->
    <div class="wraper">
      <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- We indicate to the social sidebar that we want to use
    the full width mode -->
    <aside class="social-sidebar auto-hide">
      <!-- START the use settings section -->
      <div class="user-settings">
        <div class="arrow"></div>
        <!-- User Setting title -->
        <h3 class="user-settings-title">Settings shortcuts</h3>
        <!-- User Setting Content -->
        <div class="user-settings-content">
          <!-- It's not necessary any extra class to indicate
          the content of user setting option in the menu -->
          <a href="#my-profile">
            <div class="icon">
              <i class="icon-user"></i>
            </div>
            <div class="title">My Profile</div>
            <div class="content">View your profile</div>
          </a>
          <a href="#view-messages">
            <div class="icon">
              <i class="icon-envelope-alt"></i>
            </div>
            <div class="title">View Messages</div>
            <div class="content">You have <strong>17</strong> new messages</div>
          </a>
          <a href="#view-pending-tasks">
            <div class="icon">
              <i class="icon-tasks"></i>
            </div>

            <div class="title">View Tasks</div>
            <div class="content">You have <strong>8</strong> pending tasks</div>
          </a>
        </div><!-- /User Setting Content -->
        <!-- User settng Footer -->
        <div class="user-settings-footer">
          <a href="#more-settings">See more settings</a>
        </div>
      </div>
      <!-- END the use settings section -->
      <!-- Now we have se social sidebar content -->
      <!-- We use nanoScroller, then it's necessary the
      basic markup structure for this plugin
      http://jamesflorentino.github.io/nanoScrollerJS/ -->
      <div class="social-sidebar-content nano">
        <div class="content">
          <!-- The user name and avatar section -->
          <div class="user">
            <img class="avatar" width="25" height="25" src="../../assets/img/avatar-30.png" alt="Julio Marquez">
            <span data-toggle="dropdown">User</span>
            <!-- This is the trigger for the user settings menu -->
            <i class="icon-user trigger-user-settings"></i>
          </div>

          <!-- BEGIN NAVIGATION CONTROLS -->
          <div class="navigation-sidebar">
            <i class="switch-sidebar-icon icon-align-justify"></i>
          </div>
          <!-- END NAVIGATION CONTROLS -->

          <!-- The search field section -->
          <div class="search-sidebar">
            <img src="../../assets/img/icons/stuttgart-icon-pack/32x32/search.png" alt="Search">
            <form class="search-sidebar-form">
              <input type="text" class="search-query input-block-level" placeholder="Search">
            </form>
          </div>
          <div class="clearfix"></div>
          <!-- START the menu content section -->
          <section class="menu">
            <!-- We use accordion for the menu -->
            <div class="accordion" id="accordion2">
              <!-- If you want that a top item activated you must add the active
              class as shown in the next line and add the opened class next to
              the accordion-toggle class -->
              <div class="accordion-group active">
                <div class="accordion-heading">
                  <!-- ... and opened -->
                  <a class="accordion-toggle opened" data-toggle="collapse" data-parent="#accordion2" href="#collapse-form-stuff">
                    <img src="../../assets/img/icons/stuttgart-icon-pack/32x32/sitemap.png" alt="Form Stuff">
                    <span>Top Item 3 </span>
                    <!-- You can add a badge -->
                    <!-- <span class="badge">3</span> -->
                    <!-- or an arrow -->
                    <span class="arrow"></span>
                  </a>
                </div>
                <!-- The top item children -->
                <ul id="collapse-form-stuff" class="accordion-body collapse nav nav-list collapse in">
                  <!-- An active child -->
                  <li class="active"><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                  <li><a href="#">Item 3</a></li>
                </ul>
              </div>
            </div>
          </section>
          <!-- END the menu content section -->
        </div>
      </div>
    </aside>
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <header>
      <nav class="navbar navbar-blue navbar-fixed-top social-navbar">
       <div class="navbar-inner">
         <div class="container-fluid">
          <!-- This is the button that shows the social sidebar in tablets an phones -->
          <!-- Responsive navbar -> http://twitter.github.io/bootstrap/components.html#navbar -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".social-sidebar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#">
          Title</a>
        </div>
      </div>
    </nav>
  </header>
  <div id="main">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title">
            Auto-hide Sidebar
          </h3>
          <ul class="breadcrumb">
            <li>
              <i class="icon-home"></i>
              <a href="#">Home</a>
              <span class="icon-angle-right"></span>
            </li>
            <li><a href="#">Element 1</a>
              <span class="icon-angle-right"></span>
            </li>
            <li><a href="#">Element 2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- Content page here -->
        <div id="push"></div>
      </div>
    </div>


  </div>
</div>

<!-- Le javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/plugins/jquery/jquery-1.9.1.min.js?v1.3.1"><\/script>')</script>
<script src="../../assets/plugins/jquery.ui/jquery-ui-1.10.1.custom.min.js?v1.3.1"></script>
<script src="../../assets/plugins/jquery.ui.touch-punch/jquery.ui.touch-punch.js?v1.3.1"></script>
<script src="../../assets/plugins/twitter-bootstrap/bootstrap.js?v1.3.1"></script>
<script src="../../assets/plugins/jquery.slimscroll/jquery.slimscroll.min.js?v1.3.1"></script>
<script src="../../assets/js/extents.js?v1.3.1"></script>
<!-- Iteractivity for the sidebar -->
<script src="../../assets/js/sidebar.js?v1.3.1"></script>


<script>
/*<![CDATA[*/
$(function() {
  SideBar.init();
});
/*]]>*/
</script>


</body>

</html>